<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.BlogMapper">


    <select id="selectBlogListPage" resultType="Blog">
        SELECT * FROM `t_sys_blog` t1 LEFT JOIN t_sys_user t2 ON t1.user_id = t2.user_id
     <where>
         <if test="blog.title != null and blog.title != ''">
             title like "%"#{blog.title}"%"
         </if>
         <if test="operatorId != 2 ">
             t2.role_id = #{operatorId}
         </if>

     </where>
    </select>

    <select id="getBlogType" resultType="Dict">
        select value , label from t_sys_dict where dict_type = "blogType"
    </select>

    <select id="getImageListByBlog" resultType="Image">
       SELECT recourse_id , image_url FROM t_sys_image WHERE FIND_IN_SET( recourse_id,(SELECT imgs FROM t_sys_blog WHERE id= #{id} ))
    </select>


</mapper>