<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.SystemMapper">


   <insert id="insertInterviewOfDay" parameterType="InterviewEntity">
       insert into t_sys_interview (user_name,state,ip,run_time,record_time) values
       <foreach collection="list" index="index" item="item" separator=",">
           (
           #{item.userName},
           #{item.state},
           #{item.ip},
           #{item.runTime},
           #{item.recordTime}
           )
       </foreach>
   </insert>

</mapper>